@keyframes twinkling {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

.star {
    position: absolute;
    width: 2px;
    height: 2px;
    background-color: #fff;
    border-radius: 50%;
    animation: twinkling 1s infinite;
}